


<mat-card>
  <div class="1row">
      <mat-form-field>
        <input required matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
      </mat-form-field>
      <mat-form-field>
        <input required matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName">
    </mat-form-field>


      <mat-form-field [class.has-error]="lastNameControl.invalid && lastNameControl.touched">
        <input required matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName"
        class="form-control" #lastNameControl="ngModel">
        <span class="help-block" *ngIf="lastNameControl.invalid && lastNameControl.touched">
          Last Name is required 
        </span>

      </mat-form-field>

      </div>
      <div class="2row">


        <mat-form-field> <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" 
          [formControl]="password" required minlength="7"> 
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon> <mat-error *ngIf="password.errors?.minlength">name must be 7 long</mat-error>
           <mat-error *ngIf="password.invalid">Invalid Password</mat-error> 
          </mat-form-field>
          <div class="container">
          <mat-form-field> 
            <input matInput placeholder="Confirm Password" 
            [type]="hide ? 'confirmPassword' : 'text'" [formControl]="confirmPassword" required> 
            <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
            <mat-error *ngIf="password.invalid">Invalid Password</mat-error> 
            
          </mat-form-field>
          <p style="background:tomato;" *ngIf="password.value!==confirmPassword.value">no match</p> 

</div>

    
      



      
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      



      <mat-form-field>
        <input matInput placeholder="Gender" [(ngModel)]="gender" name="gender">
      </mat-form-field>
    </div>
      <mat-form-field>
        <input matInput placeholder="Adress" [(ngModel)]="adress" name="adress">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Tel. Number" [(ngModel)]="telNumber" name="telNumber">
        
      </mat-form-field>
      


      <button mat-flat-button color="primary" (click)="signup()">Sign Up</button>
 
  </mat-card>

 
  