<div class="outer">
<div class="inner">
    <div class="content" fxLayout="row wrap" fxLayoutGap="2%" >
        <div fxFlex="23%" fxFlex.xs="100%" fxLayoutAlign=" stretch" fxFlex.sm="33%" *ngFor="let product of products$ | async">

          <mat-card class="mat-elevation-z4">
              <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-subtitle>
                <mat-card-title *ngIf="product.sellOrLend =='sell'">For Sale: {{product.price}} Fr</mat-card-title>
                <mat-card-title *ngIf="product.sellOrLend =='lend'">For Rent: {{product.price}} Fr</mat-card-title>
              </mat-card-subtitle>
            <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
            <mat-card-content>
              <p>{{product.description}}</p>
              <p>Location: {{product.location}}; Delivery: {{product.deliveryPossible}}</p>
              <p>{{product.adminApproval}}</p>
              <p *ngIf="product.adminApproval =='rejected' && product.disapprovalMsg">Reason of rejection: {{product.disapprovalMsg}}</p>
            </mat-card-content>
            <mat-card-actions>
<button mat-button (click)="onProductDelete(product)" >REMOVE</button>
  <button mat-button [routerLink]="['/edititem', product.productId]">EDIT</button>
  <button *ngIf="product.visibleInMarket" mat-button (click)="changeVisibleInMarket(product)">MAKE NOT VISIBLE</button>
  <button *ngIf="!(product.visibleInMarket)" mat-button (click)="changeVisibleInMarket(product)">MAKE VISIBLE</button>
              </mat-card-actions>
          </mat-card>
        </div>

      </div>
</div>
</div>
