<!-- makes the whole content scrollable, and 80% of page-->
<div class="outer">
  <div class="inner">

    <!-- first row of items, contains 4 items-->
    <div class="flex-grid-4">

 <!-- mat card, has padding and standard image and buttons-->
 <mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>

</div>

 <!-- second row of items, contains 4 items-->
 <div class="flex-grid-4">
 <mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>
<mat-card class="nice">
  <mat-card-header>
    <mat-card-title>Hats</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
  <mat-card-content>
    <p>Classic Hat</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
    <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
    <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
  </mat-card-actions>
</mat-card>

</div>

     <!-- third row of items, contains 4 items-->
     <div class="flex-grid-4">
      <mat-card class="nice">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
          <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
          <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="nice">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
          <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
          <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="nice">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
          <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
          <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="nice">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf = "(loggedIn$)">BUY</button> <button mat-button *ngIf = "(loggedIn$)">WISH</button>
          <p *ngIf = "!(loggedIn$)" style="text-align: center; font-size: 120%;">Log in to buy item</p>
          <button mat-button *ngIf = "!(loggedIn$)"  routerLink="/login">TO LOGIN</button> <button mat-button *ngIf = "!(loggedIn$)" routerLink="/register">TO SIGN UP</button>
        </mat-card-actions>
      </mat-card>
      
      </div>
  </div>
</div>