<!-- makes the whole content scrollable, and 80% of page-->
<div style="overflow: scroll; height: 80%;">
  <div style="padding-right: 2%; padding-left: 2%;">

    <!-- first row of items, contains 4 items-->
    <div class="flex-grid-thirds">

 <!-- mat card, has padding and standard image and buttons-->
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>

    </div>

 <!-- second row of items, contains 4 items-->
    <div class="flex-grid-thirds">
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>

    </div>

     <!-- third row of items, contains 4 items-->
    <div class="flex-grid-thirds">
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="col" style="width: 22%; padding-left: 1%; padding-right: 1%;">
        <mat-card-header>
          <mat-card-title>Hats</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://dmp0bw3rmgwlj.cloudfront.net/catalog/product/cache/2d30c628ca84d1fb5bde9dd708affbe5/r/1/r11_teastain_b_1.jpg" />
        <mat-card-content>
          <p>Classic Hat</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button> <button mat-button>WISH</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>