


.outer {
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    overflow:auto;
    height: 80%;
  }

mat-button-toggle-group {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 5px;

}


.bg-red {
  background-color: #efcdcd !important;;
}

.bg-green {
  background-color: #c2e9c2 !important;;
}

.bg-blue {
  background-color: #bee3ea !important;
}
.bg-yellow {
  background-color: #e7d2b3 !important;
}

.bg-grey{
  background-color: black !important;
}
