<div class="outer">
  <div class="inner">
    <div class="content" fxLayout="row wrap" fxLayoutGap="2%">
      <div fxFlex="23%" fxFlex.xs="100%" fxLayoutAlign=" stretch" fxFlex.sm="33%"
           *ngFor="let purchase of purchases$ | async; index as index">
        <mat-card class="mat-elevation-z4">
          <mat-card-title>{{purchase.productId}}</mat-card-title>
          <mat-card-subtitle>
            {{purchase.quantity}}
          </mat-card-subtitle>
          <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
          <mat-card-content></mat-card-content>
          <mat-card-actions>
            <button mat-button *ngIf="!productsIds.includes(purchase.productId)"
                    [routerLink]="['/product', purchase.productId]"
                    style="width: 20%;">Add Review</button>
            <button mat-button *ngIf="productsIds.includes(purchase.productId)"
                    [routerLink]="['/product', purchase.productId]"
                    style="width: 20%;">Edit Review</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
