<!--
<div class="outer">
  <div class="inner">
    <div class="content" fxLayout="row wrap" fxLayoutGap="2%">
      <div fxFlex="23%" fxFlex.xs="100%" fxLayoutAlign=" stretch" fxFlex.sm="33%"
           *ngFor="let purchase of purchases$ | async; index as index">
        <mat-card class="mat-elevation-z4">
          <mat-card-title>{{purchase.productId}}</mat-card-title>
          <mat-card-subtitle>
            {{purchase.quantity}}
          </mat-card-subtitle>
          <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
          <mat-card-content></mat-card-content>
          <mat-card-actions>
            <button mat-button *ngIf="!productsIds.includes(purchase.productId)"
                    [routerLink]="['/product', purchase.productId]"
                    style="width: 20%;">Add Review</button>
            <button mat-button *ngIf="productsIds.includes(purchase.productId)"
                    [routerLink]="['/product', purchase.productId]"
                    style="width: 20%;">Edit Review</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

-->
<br>
<mat-form-field style="background: white">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter..." #input>
</mat-form-field>
<p>

<div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="purchase.purchaseId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.purchaseId}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.product.title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.product.title}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let purchase">{{purchase.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.product.price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.product.price}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.user.userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller</th>
      <td mat-cell *matCellDef="let purchase">{{purchase.user.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.deliveryRequested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery</th>
      <td mat-cell *matCellDef="let purchase">{{purchase.deliveryRequested}} </td>
    </ng-container>

    <ng-container matColumnDef="purchase.paymentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment</th>
      <td mat-cell *matCellDef="let purchase">{{purchase.paymentType}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let purchase" >
        <button mat-button [routerLink]="['/product', purchase.product.productId]">Add review</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

