
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!doctype html>
<html>
<body>

  <!-- This is the picture on the top it takes 12% page-->




<!-- This tool bar is the same for every page/component. Buttons change if logged in or not-->


  <mat-toolbar class="mat-elevation-z4" [style.backgroundColor]="'rgba(22, 23, 24, 0.816  )'" style="height: 10%;">
    <button matTooltip="Home" class="btn" btn btn-success routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>

    <button  matTooltip=" View Products" class="btn" routerLink="/catalog">
      <mat-icon>shop_two</mat-icon>
    </button>
      <button  class="btn" btn btn-success (click)="openModal()"><mat-icon>question_answer</mat-icon></button>

    <div class="content"><span  style="color: white;">ESE Project</span> </div>
    <span class="example-spacer"></span>
    <button  matTooltip=" User Registration" *ngIf = "!(loggedIn$ | async)" class="btn" routerLink="/register">
      <mat-icon>assignment</mat-icon>
    </button>
    <button  matTooltip="User Login" *ngIf = "!(loggedIn$ | async)" class="btn" routerLink="/login">
       <mat-icon>forward</mat-icon>
    </button>
    <button  matTooltip="Shopping Cart" *ngIf = "(loggedIn$ | async)" class="btn" routerLink="/shopping-cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button  matTooltip="Wish List" *ngIf = "(loggedIn$ | async)" class="btn" routerLink="/wish-list">
      <mat-icon>favorite</mat-icon>
    </button>
<!--    <button  matTooltip= "User Account" *ngIf = "(loggedIn$ | async)" class="btn" routerLink="/account"
    matBadge="{{(listOfNotification$ | async)?.length}}" matBadgePosition="before" matBadgeColor="accent" [matBadgeHidden]="(listOfNotification$ | async)?.length===0">
      <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
    </button>-->
<!--    <button  matTooltip = "Logout" *ngIf = "(loggedIn$ | async)"class="btn" routerLink="/login">
      <mat-icon>clear</mat-icon>
    </button>-->


    <button class="btn" *ngIf="(loggedIn$ | async)"  [matMenuTriggerFor]="menu" matTooltip= "Menu" 
            matBadge="{{(listOfNotification$ | async)?.length}}" matBadgePosition="before" matBadgeColor="accent" [matBadgeHidden]="(listOfNotification$ | async)?.length===0">
      <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>{{(userName$ | async)}}</span>
      </button>

      <button mat-menu-item disabled>
        <mat-icon>attach_money</mat-icon>
        <span>{{(points$ | async)}}</span>
      </button>

      <button mat-menu-item routerLink="account/postItem/sell">
        <mat-icon>add_box</mat-icon>
        <span>Post Product</span>
      </button>

      <button mat-menu-item routerLink="account/dashboard/posted">
        <mat-icon matBadge="{{(listOfNotification$ | async)?.length}}" matBadgeColor="accent" matBadgePosition="before" [matBadgeHidden]="(listOfNotification$ | async)?.length===0">
          view_list</mat-icon>
        <span>Dashboard</span>
      </button>

      <button mat-menu-item *ngIf="(loggedIn$ | async)" (click)="logout()">
        <mat-icon>clear</mat-icon>
        <span>Logout</span>
      </button>

    </mat-menu>

    <button  matTooltip = "Administrator" *ngIf = "(isAdmin)"class="btn" routerLink="/admin/dashboard">
      Administrator
    </button>

  </mat-toolbar>

<!-- Here the components are loaded depending on which route/path the user is. See app.module.ts for the connection between routes and components-->
  <router-outlet></router-outlet>



</body>
</html>



