
  /* makes the mat-form-field placeholders more visible */

::ng-deep .mat-form-field-label{
   color:#000 !important;
}


.biginput
{
    font-size:large;
}

.example-spacer {
  flex: 1 1 auto;
}

.outer {
  overflow:scroll;
  height: 80%;
}

.inner {
  padding-right: 2%;
  padding-left: 2%;
}



  /* code for the background image */

body {
  background-image: url(https://iili.io/2hfKQV.jpg);


  background-position: center center;


  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;
}
