

    <img  src="https://images.wallpaperscraft.com/image/lines_shapes_stripes_blue_109653_3840x2160.jpg" 
        style=
        "max-height: 130px;
        height: 70%;
        width: 100%;
        object-fit: cover;">

<div class="my-theme">
	<mat-tab-group [backgroundColor]="'primary'" [color]="'warn'">

  <mat-tab label="Home">
    <app-home></app-home>
  </mat-tab>

  <mat-tab label="Login">
    <app-user-login></app-user-login>
  </mat-tab>

  <mat-tab label="Registration">
    <app-testsignup></app-testsignup>
  </mat-tab>
 
  <mat-tab label="Account">
<app-user-account></app-user-account>
  </mat-tab>

</mat-tab-group>
</div>






