@import '~@angular/material/theming';
  /* makes the mat-form-field placeholders more visible */

::ng-deep .mat-form-field-label{
   color:#000 !important;
}


.biginput
{
    font-size:large;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn {
  background-color: rgba(221, 227, 235, 0.616); /* Blue background */
  color: black; 
  
  cursor: pointer; /* Mouse pointer on hover */
  }

.btn:hover {
  background-color: rgba(115, 137, 160, 0.781); /* Green */
  color: rgb(148, 144, 144);
}

.outer {
  overflow:scroll;
  height: 80%;
}

.inner {
  padding-right: 2%;
  padding-left: 2%;
}


  /* code for the background image */

body {
  background-image: url( https://i.ibb.co/Mnx3JMn/IMG-20201201-232629.jpg );
  


  background-position: center center;


  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}