<mat-card class="mat-elevation-z4" style="background-color: rgba(221, 227, 235, 1); height: 12;">
  <span *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
  <div *ngIf="!(loggedIn$ | async) && !(resetPassword)">
      <mat-form-field>
        <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="login()">Login</button>
      <button mat-flat-button style="background-color:rgba(228, 62, 62, 0.858)" (click)="toForgotPassword()">Reset Password</button>
      <span class="example-spacer"></span>
      <p style="font-size: 120%; display: inline;" >got no account?</p>
      <button style="display: inline;" mat-flat-button color="primary"  *ngIf = "!(loggedIn$ | async)"  routerLink="/register">
        register
      </button>
  </div>

  <div *ngIf="!(loggedIn$ | async) && (resetPassword)">
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="getQuestions()">Get the question to reset Password</button>
    <button mat-flat-button style="background-color:rgba(228, 62, 62, 0.858)" (click)="toForgotPassword()">Go Back To LogIn</button>
  </div>

  <div *ngIf="(loggedIn$ | async)">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </div>


</mat-card>

