<mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.6  )'">
  <span *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
  <div *ngIf="!loggedIn">
    
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </div>

</mat-card>

<mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.6  )'">
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}
  <button mat-flat-button style="background-color:rgba(228, 62, 62, 0.858)" (click)="toForgotPassword()">Reset Password</button>
</mat-card>
