
<form [formGroup]="editformular">

    <!-- first mat card with required inputs-->
    <!-- i dont understand how i can add elevation in css so i had to style it here-->

    <mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.6  )'">
      <mat-card-title>Required Fields</mat-card-title>
      <div class="form-group">

         <!-- first row of required inputs-->

        <mat-form-field>
          <input style="font-size: large;" required matInput placeholder="Title" type="text"
            formControlName="title" [ngModel]="product?.title" (ngModelChange)="product.title=$event">
          <mat-error *ngIf="title.invalid"> title is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Description" type="text" formControlName="description"
                 [ngModel]="product?.description" (ngModelChange)="product.description=$event">
          <mat-error *ngIf="description.invalid">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Location" type="text" formControlName="location"
                 [ngModel]="product?.location" (ngModelChange)="product.location=$event">
          <mat-error *ngIf="location.invalid">Location is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="type" placeholder="Type" [ngModel]="product?.type" (ngModelChange)="product.type=$event">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="sellOrLend" placeholder="Sell/Lend" [ngModel]="product?.sellOrLend" (ngModelChange)="product.sellOrLend=$event">
            <mat-option *ngFor="let contract of contracts" [value]="contract.value">
              {{contract.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="deliveryPossible" placeholder="Delivery" [ngModel]="product?.deliveryPossible" (ngModelChange)="product.deliveryPossible=$event">
            <mat-option *ngFor="let delivery of deliverys" [value]="delivery.value">
              {{delivery.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Price" type="text" formControlName="price"
                 [ngModel]="product?.price" (ngModelChange)="product.price=$event">
          <mat-error *ngIf="price.invalid">Price is required</mat-error>
        </mat-form-field>

      

        <mat-form-field *ngIf="!(product.isPremier)">
          <mat-select style="font-size: large;" formControlName="isPremier" [ngModel]="product?.isPremier" (ngModelChange)="product.isPremier=$event" type="boolean" placeholder="Upgrade">
            <mat-option *ngFor="let premier of premiers" [value]="premier.value">
              {{premier.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>



      </div>
    </mat-card>

    <button class="btn btn-warning" [disabled]="editformular.invalid" [routerLink]="['/account']" (click)="confirm(product); clear()" type="submit" style="background-color: rgb(51, 180, 51);">Confirm</button>

  </form>
