@import '~@angular/material/theming';

section {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    padding-bottom: 2%;
    overflow-y: auto;
    height: 90%;
    }

    .btn {
        background-color: rgb(67, 87, 179); /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        }
        /* Darker background on mouse-over */
        .btn:hover {
        background-color: rgb(18, 41, 109);
        }


        .fullimg {
            height: 100%; 
            width: 100%;
            object-fit: cover ;
            transition: 0.5s;
            padding-left: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
            cursor: pointer;
            /* this centers and crops the image so that it doesn't break the aspect ratio */
            }