
  
  .mat-normal {
      height: 40% !important; 

  }

  .card {
      max-height: 285px !important;
  }

  img {
    height: max-content; 
    max-height: 270px !important; 
    object-fit: cover !important;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 3%;/* this centers and crops the image so that it doesn't break the aspect ratio */
  }

  .outer {
    overflow:scroll;
    height: 77%;
  }

  

  
  section {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    overflow-y: scroll;
    height: 80%;
  }
  

  
  
  
  /* Pattern styles */
  .left-half {
    float: left;
    width: 65%;
  }
  .right-half {

    position: sticky;
    top: 0%;
    float: right;
    width: 32%;
  }