@import '~@angular/material/theming';

.mat-normal {
  height: 40% !important; 
  
  }
  
  .card {
  max-height: 285px !important;
  height: 285px !important;
  @include mat-elevation(4);
  }
  
  .imgcard {
  height: max-content; 
  max-height: 270px !important; 
  object-fit: cover !important;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 3%;/* this centers and crops the image so that it doesn't break the aspect ratio */
  }
  
  .outer {
  overflow:scroll;
  height: 77%;
  }
  
  .btn {
  background-color: rgb(67, 87, 179); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  }
  /* Darker background on mouse-over */
  .btn:hover {
  background-color: rgb(18, 41, 109);
  }
  
  section {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  overflow-y: scroll;
  height: 80%;
  }
  .class1 {
    width: 100%;
}
.class2 {
    width: 50%;
    float: left;
}

.class3 {
    width: 50%;
    float: right;
}

  /* Pattern styles */
  .left-half {
  float: left;
  width: 65%;
  }
  .left-halfimage {
    float: left;
    padding-top: 1%;
    position: sticky;
    padding-left: 15%;
    width: 65%;
    }
  .right-half {
  
  position: sticky;
  top: 0%;
  float: right;
  width: 32%;
  }
  
  .flexExpand {
    flex: 1 1 auto;
  }