<section class="container">
  <div class="left-half">

<form [formGroup]="formular">

    <!-- first mat card with required inputs-->
    <!-- i dont understand how i can add elevation in css so i had to style it here-->

    <mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(92, 106, 121, 0.916)'">
      <mat-card-title>Required Fields</mat-card-title>
      <br>
      <div class="form-group">

         <!-- first row of required inputs-->

        <mat-form-field>
          <input style="font-size: large;" required matInput placeholder="Title" type="text"
            formControlName="title" id="title">
          <mat-error *ngIf="title.invalid"> title is required</mat-error>
        </mat-form-field>





        <mat-form-field>
          <mat-select style="font-size: large;" required formControlName="location" type="text" placeholder="Location">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{location.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field>
          <mat-select style="font-size: large;" required formControlName="type" type="text" placeholder="Type">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field>
          <input style="font-size: large;" required matInput placeholder="Description" type="text" formControlName="description" id="description">
          <mat-error *ngIf="description.invalid">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select style="font-size: large;" required formControlName="piecesAvailable" type="text" placeholder="Products available">
            <mat-option *ngFor="let piecesAvailable of piecesAvailables" [value]="piecesAvailable.value">
              {{piecesAvailable.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select style="font-size: large;" required formControlName="deliveryPossible" type="boolean" placeholder="Delivery">
            <mat-option *ngFor="let delivery of deliverys" [value]="delivery.value">
              {{delivery.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field>
          <input style="font-size: large;" required matInput placeholder="Price" type="number" formControlName="price" id="price">
          <mat-error *ngIf="price.invalid">Price is required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="points$>=5">
          <mat-select style="font-size: large;" required formControlName="isPremier" type="boolean" placeholder="Upgrade">
            <mat-option *ngFor="let premier of premiers" [value]="premier.value">
              {{premier.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="points$<5">
          <mat-select style="font-size: large;" required formControlName="isPremier" type="boolean" placeholder="Upgrade">
            <mat-option *ngFor="let premiernotenough of premiersnotenough" [value]="premiernotenough.value">
              {{premiernotenough.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <img [src]="url" height="200"> <br/>
        <input type='file' (change)="onSelectFile($event)">





        <button class="btn" (click)="post();  "  [disabled]="formular.invalid" type="submit" style="width: 23%;">Post</button>
      </div>
    </mat-card>



  </form>
  </div>
  <div class="right-half">



    <mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(92, 106, 121, 0.916)'">
      <p class="bigger">to sell an item you have to specify all of the fields, if you select the upgrade option, your item will get highlighted</p>
      <p class="bigger">Highlighted items have a higher chance to sell because they always appear on top of search results and al
        so have a stronger coloring to capture the potential buyers interest</p>
      <p class="bigger">  This feature costs 5 wallet points</p>
      <p class="bigger"> If you decide to not upgrade your post you can still do it later;
        just press the edit posted item button and you will have the option to highlight it</p>
      <p class="bigger" >Best of luck with selling your Product.</p>
      </mat-card>
  </div>
</section>


