<mat-toolbar style=" background-color: rgba(255,255,255,0.78); height: 4%;" >
  <div>FILTER: </div>
  <button mat-button [ngClass]="{'bg-yellow': filter === null}"(click)="filterProducts(filter = null)">All</button>
  <button mat-button [ngClass]="{'bg-green': filter === Approval.approved}" (click)="filterProducts(filter = Approval.approved)">Approved</button>
  <button mat-button [ngClass]="{'bg-blue': filter === Approval.pending}"(click)="filterProducts(filter = Approval.pending)">Pending</button>
  <button mat-button [ngClass]="{'bg-red': filter === Approval.rejected}"(click)="filterProducts(filter = Approval.rejected)">Rejected</button>

</mat-toolbar>
<div class="outer">

  <div class="inner">

    <div class="content" fxLayout="row wrap" fxLayoutGap="2%" >

      <div fxFlex="23%" fxFlex.xs="100%" fxLayoutAlign=" stretch"fxFlex.sm="33%" *ngFor="let product of productList$ | async">

        <mat-card class="mat-elevation-z4" style="display: flex; flex-direction: column;">
          <mat-card-title>{{product.title}}</mat-card-title>
          <mat-card-subtitle>
            <mat-card-title *ngIf="product.sellOrLend =='sell'">For Sale: {{product.price}} Fr</mat-card-title>
            <mat-card-title *ngIf="product.sellOrLend =='lend'">For Rent: {{product.price}} Fr</mat-card-title>
          </mat-card-subtitle>

          <img *ngIf="urls[product.productId] != null" mat-card-image src={{urls[product.productId]}}>
          <img *ngIf="urls[product.productId] == null" mat-card-image src="https://www.ecpgr.cgiar.org/fileadmin/templates/ecpgr.org/Assets/images/No_Image_Available.jpg">
          <div class="box box-2"></div>
          <mat-card-content>
            <p>{{product.description}}</p>
            <p>
              posted by: {{product.userName}}
            </p>
            <p>Location: {{product.location}}; Delivery: {{product.deliveryPossible}}</p>
          </mat-card-content>
          <mat-card-actions>
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="product.adminApproval" (change)="product.adminApproval=group.value">
              <mat-button-toggle  value="rejected" [ngClass]="{'bg-red':product.adminApproval === Approval.rejected}" >
                Rejected
              </mat-button-toggle>
              <mat-button-toggle value="pending"[ngClass]="{'bg-blue':product.adminApproval === Approval.pending}" >
                Pending
              </mat-button-toggle>
              <mat-button-toggle value="approved" [ngClass]="{'bg-green':product.adminApproval === Approval.approved}" >
                Approved
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field>
              <input matInput placeholder="Rejection message" [(ngModel)]="product.disapprovalMsg" name="name">
            </mat-form-field>
            <button class="btn btn-warning"(click)="onProductUpdate(product)" type="submit" style="color: black">Confirm</button>
            <button mat-fab matTooltip = "Details"  [routerLink]="['/product', product.productId]">
              Details
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

