.outer {
  overflow: auto;
  height: 86%;
  overflow-x: hidden;
}
.box-2 {
  flex-direction: column;
  justify-content: center;
  height: max-content;
  flex: 1;
}


.inner {
  padding-left: 2%;
}
.red {
  background-color: #f34e4e;
}
mat-button-toggle-group {
  margin-left: 0px;
  margin-bottom: 15px;
}
.bg-red {
  background-color: #f59292;
}

.bg-green {
  background-color: #7fe57f;
}

.fullimg {
  height: 45%; 
  width: 100%;
  object-fit: cover ;
  transition: 0.5s;
  
  cursor: pointer;
  /* this centers and crops the image so that it doesn't break the aspect ratio */
  }

.bg-blue {
  background-color: #7fdaec !important;
}

.bg-yellow {
  background-color: #E7AF5F !important;
}
