.outer {
  overflow:scroll;
  height: 80%;
}

.inner {
  padding-right: 2%;
  padding-left: 2%;
}
.red {
  background-color: red;
}
mat-button-toggle-group {
  margin-left: 15px;
  margin-bottom: 15px;
}
mat-button {
: left;
}
