<!--The account of the user has 3 tabs containing the wallet, the history and the todolist-->
<mat-card *ngIf="listOfNot.length > 0">
    <mat-card-title>You have {{listOfNot.length}} notification<span *ngIf="listOfNot.length>1">s</span>:</mat-card-title>
    <button (click)="openNotifications()">SEE</button>
  </mat-card>
<!-- displays all the tabs and the links to the relative component-->
  <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
      </a>
  </nav>
  <router-outlet></router-outlet>
