<!--The account of the user has 3 tabs containing the wallet, the history and the todolist-->
<mat-card><div class="sitemessage">
  <div>
  <div fxFlex="23%" fxFlex.xs="100%" fxLayoutAlign=" stretch"fxFlex.sm="33%" *ngFor="let notfication of listOfNotification$ | async">
    <div>
     You have sold {{notfication.quantity}} times product with Id {{notfication.productId}}. 
    </div><div> </div>
  </div>
</div>
</div></mat-card>
<mat-tab-group animationDuration="1ms">
  
  <mat-tab label="Wallet">
    <app-wallet></app-wallet>
  </mat-tab>


  <mat-tab label="Post Item">
    <app-post-item></app-post-item>
  </mat-tab>

  <mat-tab label="Dashboard">
    <app-user-dashboard></app-user-dashboard>
  </mat-tab>


</mat-tab-group>
