/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

textarea {
  resize: none;
}

.mat-simple-snackbar {
  display: flex;
  font-size: 20px !important;
  min-height: 50px !important;
  align-items: center !important;
  justify-content: center !important;
}

.warning{
  background: crimson !important;
  color: white !important;
}

.success{
  background:#64dd17 !important;
  color: black !important;
}

.info{
  background: #4153AF !important;
  color: white !important;
}

table {
  width: 100%;
}

td, th {
  /*width: 25%;*/
}

.highlight{
  background: #eccc6c;
}

