<!--Here the user can generate a new list -->
<mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.6  )'">
  <mat-form-field>
    <input matInput placeholder="List Name" [(ngModel)]="newTodoListName" name="name">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onListCreate()" [disabled]="newTodoListName === ''">Create new list
  </button>
</mat-card>

<!--Here all the current lists are displayed-->
<app-todo-list
  *ngFor="let todoList of todoLists" [todoList]="todoList"
  (update)="onListUpdate($event)"
  (delete)="onListDelete($event)"
></app-todo-list>



