
        <form [formGroup]="userForm">



          <mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.6  )'">
              <mat-card-title>Required Fields</mat-card-title>
              <div class="form-group">


                <mat-form-field>
                    <input style = "font-size: large;"required matInput placeholder="User Name" type="text"
                    formControlName="userName"
                    id="userName">
                    <mat-error *ngIf="userName.invalid"> username required</mat-error> 
                  </mat-form-field>

                


                  <mat-form-field>
                    <input required matInput placeholder="First Name" type="text"
                    formControlName="firstName"
                    id="firstName">
                    <mat-error *ngIf="firstName.invalid"> First Name required</mat-error> 
                  </mat-form-field>

                

                    
    


                  <mat-form-field>
                    <input [type]="hide ? 'password' : 'text'"
                       formControlName="password"
                       [pattern]="passwordPattern"
                       [ngClass]="{'is-invalid':password.errors && password.touched}"
                       minlength="7"
                       id="password"
                       matInput placeholder="Password">
                       <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon> 
                <mat-error class="invalid-feedback"
                     *ngIf="password.hasError('required')">
                    Password is required.
                  </mat-error>
                  <mat-error *ngIf="password.errors?.pattern">
                    Password not valid.
                  </mat-error> 
                  <mat-error *ngIf="password.errors?.minlength">
                    Password must have 7 chars.
                  </mat-error> 
                  </mat-form-field>
                    <br>
                </div>


                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input required matInput placeholder="user@example.com" type="text"
                            formControlName="email"
                            id="email">
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                        
                          <mat-form-field>
                            <input required matInput placeholder="Last Name" type="text"
                            formControlName="lastName"
                            id="lastName">
                            <mat-error *ngIf="lastName.invalid"> Last Name required</mat-error> 
                          </mat-form-field>
                      
                



                      <mat-form-field>
                          <input
                          formControlName="confirmPassword"
                          [type]="hide ? 'password' : 'text'"
                          [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}"
                          id="confirmPassword"
                          matInput placeholder="Confirm Password">
                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                   <mat-error class="invalid-feedback"
                        *ngIf="confirmPassword.hasError('passwordMismatch')">
                       Passwords Don't Match
                    </mat-error>
                   <mat-error class="invalid-feedback"
                        *ngIf="confirmPassword.hasError('required')">
                       Confirm password is required
                  </mat-error>
                  </mat-form-field>
                </div>
             


            </mat-card>

            <mat-card class="mat-elevation-z4" [style.backgroundColor]="'rgba(8, 89, 164, 0.8  )'">


                        <mat-card-title>Optional Fields</mat-card-title>



                      <br>

                      <mat-form-field>
                        <mat-select formControlName="country" placeholder="Country">
                            <mat-option *ngFor="let country of countrys" [value]="country.value">
                                    {{country.display}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                


                          

                          <mat-form-field>
                            <mat-select formControlName="gender" placeholder="Gender">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                        {{gender.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="City" type="text"
                    formControlName="city"
                    id="inputCity">
                  </mat-form-field>
                  
            
                    <mat-form-field>
                      <mat-label>Street</mat-label>
                        <input matInput placeholder="Street" type="text"
                        formControlName="street"
                        id="inputStreet">
                      </mat-form-field>
                      <br>


                      <mat-form-field>
                        <input matInput placeholder="Tel. Number" type="text"
                        formControlName="telNumber"
                        id="telNumber">
                      </mat-form-field>



                        <mat-form-field>
                        <input matInput placeholder="ZIP" type="text"
                               formControlName="zip"
                               id="inputZip">
                            </mat-form-field>

                          
                      
                            

        </mat-card>
            <p>
                <button class="btn btn-warning"
                (click)="signup()"
                        type="submit"
                        ><i class="fas fa-save"></i> Sign Up</button>
                        <button class="btn btn-warning"
                        (click)="clear()" style="background-color: red;"><i class="fas fa-snowplow"></i> Clear Form</button>
                <button class="btn btn-warning"
                        (click)="toLogIn()"><i class="fas fa-snowplow"></i> To Log in</button>
       
            </p>
        </form>

