
.outer {
    overflow:scroll;
    height: 77%;
    overflow-x: hidden;
  }

  .inner {
    padding-right: 2%;
    padding-left: 2%; 
    
  }

  .flexExpand {
    flex: 1 1 auto;
  }

  .btn {
    background-color:  rgba(49, 66, 141, 0.616); /* Blue background */
    border: none; /* Remove borders */
    text-align: center;
    height: 50%;
    margin: auto;
    display: inline-block;
    color: white; /* White text */; /* Some padding */
    font-size: 63%; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }