<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar style=" background-color:rgba(221, 227, 235, 0.616); height: 8%; border: black; border-bottom: solid; " >
  <span>FILTER: </span>
  <button *ngIf="filtersl == 'lend'" mat-button (click)= "changefiltersl('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"  class="btn" style="background-color: rgba(49, 66, 141, 0.616); ">FOR SALE </button>
  <button *ngIf="filtersl !== 'lend'" mat-button (click)= "changefiltersl('lend');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"  class="btn" >FOR SALE</button>
  <button *ngIf="filtersl == 'sell'" mat-button (click)="changefiltersl('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn" style="background-color: rgba(49, 66, 141, 0.616);">TO RENT</button>
  <button *ngIf="filtersl !== 'sell'"mat-button (click)="changefiltersl('sell');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn">TO RENT</button>
  <button *ngIf="filterps == 'service'" mat-button (click)="changefilterps('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn" style="background-color:  rgba(49, 66, 141, 0.616);">PRODUCTS</button>
  <button *ngIf="filterps !== 'service'" mat-button (click)="changefilterps('service');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn" >PRODUCTS</button>
  <button *ngIf="filterps == 'product'" mat-button (click)="changefilterps('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn" style="background-color:rgba(49, 66, 141, 0.616);">SERVICES</button>
  <button *ngIf="filterps !== 'product'" mat-button (click)="changefilterps('product');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" class="btn" >SERVICES</button>
  <button *ngIf="sortby == 'maxprice'" class="btn" style="background-color: rgba(49, 66, 141, 0.616); width: 2.5%;" (click)="changesortby('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"><i class="fa fa-arrow-up  "  ></i></button>
  <button *ngIf="sortby !== 'maxprice'" class="btn" style=" width:2.5%;" (click)="changesortby('maxprice');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"><i class="fa fa-arrow-up  "  ></i></button>
  <button *ngIf="sortby == 'lowestprice'" class="btn" style="background-color: rgba(49, 66, 141, 0.616); width: 2.5%;" (click)="changesortby('');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"><i class="fa fa-arrow-down  "  ></i></button>
  <button *ngIf="sortby !== 'lowestprice'" class="btn" style=" width: 2.5%;" (click)="changesortby('lowestprice');filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"><i class="fa fa-arrow-down  "  ></i></button>

  <select  *ngIf="location !== ''" style="background-color: rgba(49, 66, 141, 0.616);" [(ngModel)]="location" class="btn" (ngModelChange)="filter(minValue,maxValue,filtersl,filterps,sortby,location,search)">
    <option value="bern">Bern</option>
    <option value="zürich">Zürich</option>
    <option value="basel">Basel</option>
    <option value="chur">Chur</option>
    <option value="genf">Genf</option>
    <option value="lugano">Lugano</option>
    <option value="">All Locations</option>
</select>
<select  *ngIf="location == ''"  [(ngModel)]="location" class="btn" (ngModelChange)="filter(minValue,maxValue,filtersl,filterps,sortby,location,search)">
  <option value="bern">Bern</option>
  <option value="zürich">Zürich</option>
  <option value="basel">Basel</option>
  <option value="chur">Chur</option>
  <option value="genf">Genf</option>
  <option value="lugano">Lugano</option>
  <option value="">All Locations</option>
</select>
  <button mat-button (click)="changefilterps('');changelocation('');changefiltersl('');changesortby('');changeminValue(0);changemaxValue(50);changesearch('');

  filter(minValue,maxValue,filtersl,filterps,sortby,location,search)"class="btn"  style="width: 7.5%;">RESET FILTERS</button>
<span class="flexExpand"></span>


<ngx-slider style="width: 17%; color: black;" [(value)]="minValue" [(highValue)]="maxValue"   (userChangeEnd)="filter(minValue,maxValue,filtersl,filterps,sortby,location,search)" [options]="options"></ngx-slider>

<span class="flexExpand"></span>
<span style="width: 14%;">
  <input type="text" [(ngModel)]="search">
</span>
<span class="flexExpand"></span>
<button [disabled]="search == ''" (click)="filter(minValue,maxValue,filtersl,filterps,sortby,location,search)">Search</button>
</mat-toolbar>

<div class="outer">

    <div class="inner">


        <div class="content" fxLayout="row wrap" fxLayoutGap="2%" >
            <div fxFlex="23%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign=" stretch" *ngFor="let product of products$ | async; let index = index" [attr.quantity]="index">

              <mat-card *ngIf="product.userId == userId && product.isPremier == false" style="background-color: rgb(81, 78, 95); opacity: 80%;" class="mat-elevation-z4">
                  <mat-card-title>{{product.title}}</mat-card-title>
                <mat-card-subtitle>
                  <mat-card-title *ngIf="product.sellOrLend =='sell'">For Sale: {{product.price}} Fr</mat-card-title>
                  <mat-card-title *ngIf="product.sellOrLend =='lend'">For Rent: {{product.price}} Fr</mat-card-title>
                </mat-card-subtitle>

                <mat-icon color = "accent" *ngFor="let ratingId of ratingArray;index as i">
                  <mat-icon>
                    {{showIcon(i, product.productRating)}}
                  </mat-icon>
                </mat-icon>
                <span style="font-size: 150%;"> {{product.productRating.toFixed(1)}} </span>


                <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
                <mat-card-content>
                  <div style="float:left;">
                    <span class="subtitle" style="display:contents; ">Pieces available: </span>
                    <span class="size" style="display:contents; ">{{product.piecesAvailable}}</span>
                </div>
                <br>
                <br>
                <div style="float:left;">
                  <span class="subtitle" style="display:contents; ">Location: </span>
                  <span class="size" style="display:contents; ">{{product.location}}</span>
              </div>
              <br>
              <br>
              <div style="float:left;">
                <span class="subtitle" style="display:contents; ">Delivery: </span>
                <span *ngIf="product.deliveryPossible" class="size" style="display:contents; ">possible</span>
                <span *ngIf="!product.deliveryPossible" class="size" style="display:contents; ">not possible</span>
            </div>

                </mat-card-content>
                <br>
                  <button class="btn-gradient-trans" [routerLink]="['/product', product.productId]" style="width: 90%;">VIEW</button>

              </mat-card>




              <mat-card *ngIf="product.isPremier == true"  class="mat-elevation-z4" style=" border-width: 5px;   border-style: solid; border-color: rgb(201, 204, 22) ; ">
                <div class="leftup-half">


                <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-subtitle>
                <mat-card-title *ngIf="product.sellOrLend =='sell'">For Sale: {{product.price}} Fr</mat-card-title>
                <mat-card-title *ngIf="product.sellOrLend =='lend'">For Rent: {{product.price}} Fr</mat-card-title>
              </mat-card-subtitle>
                <mat-icon color = "accent" *ngFor="let ratingId of ratingArray;index as i">
                  <mat-icon>
                    {{showIcon(i, product.productRating)}}
                  </mat-icon>
                </mat-icon>
                <span style="font-size: 150%;"> {{product.productRating.toFixed(1)}} </span>
              </div>
              <div class="rightup-half">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-certificate fa-stack-2x"></i>
                  <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                </div>

                <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">

              <mat-card-content>
                <div >
                  <span class="subtitle" style="display:contents; ">Pieces available: </span>
                  <span class="size" style="display:contents; ">{{product.piecesAvailable}}</span>
              </div>
              <br>
              <div >
                <span class="subtitle" style="display:contents; ">Location: </span>
                <span class="size" style="display:contents; ">{{product.location}}</span>
            </div>
            <br>
            <div >
              <span class="subtitle" style="display:contents; ">Delivery: </span>
              <span *ngIf="product.deliveryPossible" class="size" style="display:contents; ">possible</span>
              <span   *ngIf="!product.deliveryPossible" class="size" style="display:contents; ">not possible</span>
          </div>

              </mat-card-content>
                <button  class="btn-gradient"[routerLink]="['/product', product.productId]" style="width: 18%;">VIEW</button>

                <select   style="width: 18%;" class="btn-gradient" *ngIf = "(loggedIn$ | async) && !(product.userId == userId)"[(ngModel)]="quantity[index]" >
                  <option *ngIf="product?.piecesAvailable >=1" value=1>1</option>
                  <option *ngIf="product?.piecesAvailable >=2" value=2>2</option>
                  <option *ngIf="product?.piecesAvailable >=3" value=3>3</option>
                </select>

                <button class="btn-gradient" *ngIf = "(loggedIn$ | async) && !(product.userId == userId)" (click)="shoppingCartService.addProductToShoppingCart(product, quantity[index])" type="submit" style="width: 18%;"> <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>

                <button class="btn-gradient" *ngIf = "(loggedIn$ | async)" (click)="wishListService.addProductToWishList(product, quantity[index])" style="width: 18%;"><i class="fa fa-heart" aria-hidden="true"></i></button>



                <button class="btn-gradient" *ngIf = "!(loggedIn$ | async)"  routerLink="/login">TO LOGIN</button>
                 <button class="btn-gradient" *ngIf = "!(loggedIn$ | async)" routerLink="/register">TO SIGN UP</button>

            </mat-card>





              <mat-card *ngIf="!(product.userId == userId) && product.isPremier == false"  class="mat-elevation-z4">
                <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-subtitle>
                <mat-card-title *ngIf="product.sellOrLend =='sell'">For Sale: {{product.price}} Fr</mat-card-title>
                <mat-card-title *ngIf="product.sellOrLend =='lend'">For Rent: {{product.price}} Fr</mat-card-title>
              </mat-card-subtitle>
                <mat-icon color = "accent" *ngFor="let ratingId of ratingArray;index as i">
                  <mat-icon>
                    {{showIcon(i, product.productRating)}}
                  </mat-icon>
                </mat-icon>
                <span style="font-size: 150%;"> {{product.productRating.toFixed(1)}} </span>

                <img mat-card-image src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
              <mat-card-content>
                <div style="float:left;">
                  <span class="subtitle" style="display:contents; ">Pieces available: </span>
                  <span class="size" style="display:contents; ">{{product.piecesAvailable}}</span>
              </div>
              <br>
              <br>
              <div style="float:left;">
                <span class="subtitle" style="display:contents; ">Location: </span>
                <span class="size" style="display:contents; ">{{product.location}}</span>
            </div>
            <br>
            <br>
            <div style="float:left;">
              <span class="subtitle" style="display:contents; ">Delivery: </span>
              <span *ngIf="product.deliveryPossible" class="size" style="display:contents; ">possible</span>
              <span *ngIf="!product.deliveryPossible" class="size" style="display:contents; ">not possible</span>
          </div>

               <br>
              </mat-card-content>
              <button  class="btn-gradient"[routerLink]="['/product', product.productId]" style="width: 18%;">VIEW</button>

                <select   style="width: 18%;" class="btn-gradient" *ngIf = "(loggedIn$ | async) && !(product.userId == userId)"[(ngModel)]="quantity[index]" >
                  <option *ngIf="product?.piecesAvailable >=1" value=1>1</option>
                  <option *ngIf="product?.piecesAvailable >=2" value=2>2</option>
                  <option *ngIf="product?.piecesAvailable >=3" value=3>3</option>
                </select>

                <button class="btn-gradient" *ngIf = "(loggedIn$ | async) && !(product.userId == userId)" (click)="shoppingCartService.addProductToShoppingCart(product, quantity[index])" type="submit" style="width: 18%;"> <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>

                <button class="btn-gradient" *ngIf = "(loggedIn$ | async)" (click)="wishListService.addProductToWishList(product, quantity[index])" style="width: 18%;"><i class="fa fa-heart" aria-hidden="true"></i></button>


                <button class="btn-gradient" *ngIf = "!(loggedIn$ | async)"  routerLink="/login">TO LOGIN</button>
                 <button class="btn-gradient" *ngIf = "!(loggedIn$ | async)" routerLink="/register">TO SIGN UP</button>
            </mat-card>
            </div>
          </div>
  </div>
</div>

