
.outer {
    overflow:scroll;
    height: 77%;
    overflow-x: hidden;
  }

  .inner {
    padding-right: 2%;
    padding-left: 2%; 
    
  }

  .flexExpand {
    flex: 1 1 auto;
  }

  .btn {
    background-color: rgba(42, 49, 56, 0.616); /* Blue background */
    text-align: center;
    height: 50%;
    width: 6%;
    color: white; 
    cursor: pointer; /* Mouse pointer on hover */
    }

    .btn span {
      display: block;
      text-align: center;

      font-size: 95%;
  }