.outer {

  height: 77%;
  overflow-x: hidden;
}

.inner {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

img {
  height: max-content; 
  object-fit: cover !important;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 3%;/* this centers and crops the image so that it doesn't break the aspect ratio */
  }
  .size{
    font-size: 120%;
  }

  .subtitle{
    font-size: 120%;
    font-weight: 500;
  }

  .btn {
    background-color: rgba(42, 49, 56, 0.616); /* Blue background */
    color: white; 
    width: 17%;
    margin-left: 80% !important;
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn:hover {
      background-color: rgb(42, 49, 56); /* Green */
      color: white;
    }