.outer {

  height: 90%;
  overflow-x: auto;
}

.inner {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.fullimg {
  height: 100%; 
  width: 100%;
  object-fit: cover ;
  transition: 0.5s;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* this centers and crops the image so that it doesn't break the aspect ratio */
  }
  .fullimg:hover{
    cursor: pointer;
  }
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-backdrop
{
    opacity:0.5 !important;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
  padding: 0;
  overflow: hidden !important;
  width: 70%;
  max-width: 1200px;
}
.close {
  color: white;
  border: white;
  border-radius: 10%;
  border-style: solid;
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 80px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}



  .size{
    font-size: 120%;
  }

  .subtitle{
    font-size: 120%;
    font-weight: 500;
    
  }

  .flex-grow {
    flex-grow: 1;
  }

  .btn {
    background-color: rgb(67, 87, 179); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    }
    /* Darker background on mouse-over */
    .btn:hover {
    background-color: rgb(18, 41, 109);
    }

    .box-2 {
      flex-direction: row;
      justify-content: center;
      height: max-content;
      flex: 1;
    }