
<div class="outer">

  <div class="inner">


    <mat-card  class="card"  >
      <mat-card-content fxLayout.gt-sm="row">
        <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%">
          <img *ngIf="url != null" mat-card-image src={{url}} style="width: 100%; height: 100%;">
          <img *ngIf="url == null" mat-card-image src="https://www.ecpgr.cgiar.org/fileadmin/templates/ecpgr.org/Assets/images/No_Image_Available.jpg" style="width: 100%; height: 100%;">

        </div>
        <div fxLayout.gt-sm="column" fxFlex.gt-sm="30%" class="gutter" style="padding-left: 3%;">
          <mat-card-title  style="font-size: 230%;">{{product?.title}}</mat-card-title>
          <mat-card-subtitle>
            <mat-card-title *ngIf="product?.sellOrLend =='sell'">Price: {{product?.price}} Fr</mat-card-title>
            <mat-card-title *ngIf="product?.sellOrLend =='lend'">Price: {{product?.price}} Fr</mat-card-title>
          </mat-card-subtitle>
          <span>
          <mat-icon color = "accent" *ngFor="let ratingId of ratingArray;index as i">
            <mat-icon>
              {{showIcon(i, product?.productRating)}}
            </mat-icon>
          </mat-icon>
          <span style="font-size: 150%;"> {{product?.productRating.toFixed(1)}} </span>
          </span>
          <br>
          <div style="float:left;">
            <span class="subtitle" style="display:contents; ">Pieces available: </span>
            <span class="size" style="display:contents; ">{{product?.piecesAvailable}}</span>
        </div>
        <br>
            <p  class="subtitle">Description: </p>
            <p  class="size">{{product?.description}}</p>
            <div style="float:left;">
              <span class="subtitle" style="display:contents; ">Location: </span>
              <span class="size" style="display:contents; ">{{product?.location}}</span>
          </div>
          <br>
          <div style="float:left;">
            <span class="subtitle" style="display:contents; ">Delivery: </span>
            <span *ngIf="product?.deliveryPossible" class="size" style="display:contents; ">possible</span>
            <span *ngIf="!product?.deliveryPossible" class="size" style="display:contents; ">not possible</span>
        </div>
            <br>

        </div>
        <div fxLayout.gt-sm="column" fxFlex.gt-sm="30%" >
          <button class="btn" matTooltip="back to catalog" (click)="backClicked()">
            <mat-icon >settings_backup_restore
            </mat-icon>
            </button>
            <p class="subtitle" style="padding-left: 70%; margin-top: 20%;">
              Quantity:
            </p>
            <mat-select [(ngModel)]="quantity" placeholder="{{quantity}}" style="width: 25%;margin-left: 70%;">
              <mat-option *ngIf="product?.piecesAvailable >=1" value=1>1</mat-option>
              <mat-option *ngIf="product?.piecesAvailable >=2" value=2>2</mat-option>
              <mat-option *ngIf="product?.piecesAvailable >=3" value=3>3</mat-option>
            </mat-select>
            <br>
            <br>
            <p class="subtitle" style="padding-left: 65%;">
              Total Price: {{quantity*product?.price }} Fr
            </p>

          <button mat-button class="btnitem" *ngIf = "(loggedIn$ | async) && product?.sellOrLend == 'sell' && !(product?.userId == userId)" (click)="shoppingCartService?.addProductToShoppingCart(product, quantity)" type="submit" style="width: 15%;">BUY</button>
          <button mat-button class="btnitem" *ngIf = "(loggedIn$ | async) && product?.sellOrLend == 'lend' && !(product?.userId == userId)" (click)="shoppingCartService?.addProductToShoppingCart(product, quantity)" type="submit" style="width: 15%;">RENT</button>

          <button mat-button class="btnitem" *ngIf = "(loggedIn$ | async) && !(product?.userId == userId)" (click)="wishListService.addProductToWishList(product, quantity)" style="width: 15%;">WISH</button>

          <p class="btnitem" *ngIf = "!(loggedIn$ | async)" style="text-align: center; font-size: 120%;">Log in to buy item</p>

          <button class="btnitem" mat-button *ngIf = "!(loggedIn$ | async)"  routerLink="/login">TO LOGIN</button>
          <button class="btnitem" mat-button *ngIf = "!(loggedIn$ | async)" routerLink="/register">TO SIGN UP</button>
        </div>

      </mat-card-content>
    </mat-card>
    <app-review></app-review>

  </div>

  </div>

