<h1 style="text-align: center; color: red">Is your address up to date?</h1>
<br>
    <mat-card-content >
      <mat-card-title>Your current shipping address</mat-card-title>
      <br>
      <div style="font-size: 18px; line-height: 1.6;">
        {{ (firstName$ | async) }} {{ (lastName$ | async) }} <br>
        {{ (street$ | async) }}<br>
        {{ (pinCode$ | async) }} {{  (city$ | async)  }} <br>
        {{ (country$ | async) }}<br>
        </div>
      <br>
      <mat-card-title style="margin-top: 5%;">Update if needed</mat-card-title>
      <form [formGroup]="userForm">

        <mat-form-field style="width: 50%;">
          <input matInput placeholder="First Name" type="text" formControlName="firstName" id="inputFirstName">
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Last Name" type="text" formControlName="lastName" id="inputLastName">
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" type="text" formControlName="street" id="inputStreet">
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Pincode" type="text" formControlName="pinCode" id="inputPinCode">
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <input matInput placeholder="City" type="text" formControlName="city" id="inputCity">
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <mat-select formControlName="country" placeholder="Country">
            <mat-option *ngFor="let country of countrys" [value]="country.value" >
              {{country.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </mat-card-content>

<button mat-raised-button color="primary" (click)="closeModal()">Cancel</button>
<button mat-raised-button color="primary" (click)="closeModal(); buyWithCurrentAddress()">Buy with current address</button>
<button mat-raised-button  color="primary" [disabled]="userForm.invalid" (click)="closeModal();updateAddressAndBuy()">Update & Buy</button>





